@media screen and (max-width: 1280px) {
  .middle {
    display: block;
  }
  .pc,
  .mobile,
  #sec2_slide {
    display: none;
  }
  /*header*/
  header {
    height: 80px;
  }
  #in_header {
    max-width: 1280px;
  }
  #logo {
    width: 140px;
    height: 32px;
    margin-right: 100px;
  }
  #menu_wrap li {
    margin-right: 30px;
  }
  #menu_wrap li a {
    font-size: 16px;
  }
  .right_icon {
    width: 18px;
    margin-right: 20px;
  }
  /*header end*/

  /*section01*/
  #section01 {
    max-width: 1280px;
  }
  .swiper {
    max-width: 1280px;
    height: 420px;
  }
  .swiper-pagination-bullet {
    width: 30px !important;
    height: 8px !important;
  }
  .banner_txtbox {
    top: 120px;
    left: 100px;
  }
  .banner_txtbox > p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .banner_txtbox > h2 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .moreBtn {
    font-size: 16px;
  }
  /*section01 end*/

  /*section02*/
  .section_wrap {
    padding: 100px;
    max-width: 1080px;
  }
  .sec_title {
    font-size: 38px;
    margin-bottom: 55px;
  }
  .container_wrap {
    max-width: 1080px;
  }
  .con {
    width: 48%;
    margin-right: 2%;
  }
  .con:nth-of-type(2n) {
    margin-right: 0;
  }
  .con:nth-child(1),
  .con:nth-child(2) {
    margin-bottom: 60px;
  }
  .con_img {
    margin-bottom: 35px;
  }
  .con_title {
    font-size: 16px;
    line-height: 20px;
  }
  .con_preprice {
    font-size: 12px;
    line-height: 16px;
  }
  .con_aftprice {
    font-size: 20px;
    line-height: 24px;
  }
  .viewmore {
    font-size: 14px;
    line-height: 14px;
  }
  .viewmore_btn {
    width: 10px;
    height: 10px;
  }

  /*section02 end*/

  /*section03*/
  #con02_title {
    line-height: 20px;
  }
  /*section03 end*/

  /*section04*/
  #section04 {
    margin-top: 100px;
  }
  .section_wrap02 {
    padding: 100px 40px;
    max-width: 1200px;
  }
  .sec04 {
    max-width: 1200px;
    height: 676px;
  }
  /*section04 end*/

  /*section05*/
  #section_wrap_md {
    padding: 100px;
    max-width: 1080px;
    height: auto;
  }
  .container_wrap02 {
    max-width: 1080px;
  }
  #container_wrap02_md {
    margin-bottom: 60px;
  }
  .con02 {
    width: 48.54%;
  }
  .con02_txt {
    font-size: 18px;
    line-height: 18px;
  }
  .middle {
    display: flex;
  }
  /*section05 end*/

  /*section06*/
  .container_wrap03 {
    max-width: 1080px;
    margin-bottom: 60px;
    display: block;
  }
  .con03_midwrap {
    width: 100%;
    margin-right: 0;
  }
  .con03 {
    width: 48%;
    margin-right: 3.5%;
  }
  .con03:nth-child(1),
  .con03:nth-child(2) {
    margin-bottom: 60px;
  }
  /*section06 end*/

  /*footer*/
  .up_footer {
    max-width: 1080px;
  }
  .section_wrap03 {
    padding: 80px 100px;
    max-width: 1080px;
  }
  .foot01 li {
    margin-bottom: 10px;
  }
  .loginbtn {
    font-size: 18px;
    line-height: 28px;
  }
  .foot_sns {
    position: absolute;
    right: 100px;
    top: 295px;
  }
  .footerline {
    width: 100%;
  }
  .down_footer {
    max-width: 1080px;
  }
  /*footer end*/
}
