@media screen and (max-width: 920px) {
  .mobile,
  .tab,
  #sec2_nomobile {
    display: block;
  }
  .mobileX {
    display: none;
  }
  .pc,
  .middle,
  #sec2_slide {
    display: none;
  }
  /*header*/
  header {
    height: 60px;
  }
  #in_header {
    max-width: 880px;
    padding: 0 20px;
  }
  #leftmenu_wrap {
    width: 100%;
  }
  .menu_btn {
    width: 24px;
    height: 16px;
  }
  #logo {
    width: 112px;
    height: 26px;
    margin-right: 0;
  }
  #cart_btn {
    width: 18px;
    height: 20px;
  }
  /*header end*/

  /*section01*/
  #section01 {
    width: 100%;
    max-width: 920px;
  }
  .swiper {
    max-width: 960px;
    height: 400px;
  }
  .banner_txtbox {
    width: 40%;
    max-width: 360px;
    top: 120px;
    left: 60px;
  }
  .banner_txtbox > p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .banner_txtbox > h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .moreBtn {
    font-size: 14px;
  }
  /*section01 end*/

  /*section02*/
  .section_wrap {
    padding: 80px 20px 0 20px;
    max-width: 920px;
  }
  .sec_title {
    margin-bottom: 40px;
  }
  .container_wrap {
    max-width: 920px;
    overflow: hidden;
  }
  .con_img {
    width: 100%;
    height: 200px;
  }
  /*section02 end*/

  /*section03*/
  #section03 {
    z-index: 0;
    overflow: hidden;
  }

  #con02_title {
    line-height: 20px;
  }
  /*section03 end*/

  /*section04*/
  #section04 {
    margin-top: 80px;
  }
  .section_wrap02 {
    padding: 80px 20px;
    max-width: 880px;
    height: auto;
  }
  .sec04 {
    max-width: 880px;
    height: 462px;
  }
  /*section04 end*/

  /*section05*/
  #section_wrap_md {
    padding: 80px 20px;
    max-width: 880px;
  }
  /*section05 end*/

  /*section06*/
  .container_wrap03 {
    margin-bottom: 0;
  }
  /*section06 end*/

  /*footer*/
  .up_footer {
    max-width: 780px;
    display: block;
  }
  .section_wrap03 {
    padding: 75px 20px;
    width: auto;
  }
  .section_wrap03:first-child {
    margin-top: 60px;
  }
  .foot02 {
    text-align: left;
    margin-bottom: 25px;
  }
  .foot02 p {
    margin-bottom: 5px;
  }
  .foot03 {
    text-align: left;
  }
  #br {
    margin-bottom: 20px;
  }
  .foot_sns {
    left: 20px;
    top: 75px;
  }
  .footerline {
    width: 100%;
  }
  .down_footer {
    max-width: 780px;
  }
  /*footer end*/
}
